<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel Overzicht</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Overzicht van Artikelen</h1>

            {% if articles %}
                <div class="columns is-multiline">
                    {% for article in articles %}
                        <div class="column is-one-third">
                            <div class="box">
                                <h2 class="subtitle">{{ article.title }}</h2>
                                <a href="{{ url_for('article', filename=article.file_path) }}" class="button is-link">Lees meer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Geen artikelen beschikbaar.</p>
            {% endif %}
        </div>
    </section>
</body>
</html>
